DEVTO_API_KEY=your_devto_api_key_here
MASTODON_INSTANCE=https://mastodon.social
MASTODON_ACCESS_TOKEN=your_mastodon_token_here
NTFY_TOPIC=your_unique_topic_here  # e.g. my-income-bots-123
OLLAMA_MODEL=gemma2:2b